body {
    background-color: #003300;
}

h1 {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: #e3f2e3;
}

p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #e3f2e3;
}
