/* New Color Scheme
#404E3B: Dark Green
#BAC8B1 Pale Green
#E6E6E6: Dark White 
#6C8480: Cool Blue Green
#7B9669: Darker Pale Green
*/


body {
    background-color: #404E3B;
    font-family: "IBM Plex Sans", sans-serif;
    color: #BAC8B1;
    margin: 0;
    padding: 0 8%;
}

h1, h2, h3 {
    text-align: center;
    color: #E6E6E6;
}

p {
    color: #E6E6E6;
    text-align: center;
    margin: 15px 0;
    padding: 0 8%;
    line-height: 1.6;
}

a {
    color: #BAC8B1;
    text-align: center;
}

a:hover {
    color: #E6E6E6;
}

hr {
    border: 0;
    border-top: 1px solid #6C8480;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #7B9669;
    border: 1px solid #6C8480;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

th, td {
    padding: 10px;
    text-align: center;
    color: #E6E6E6;
}

th {
    background-color: #6C8480;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #7B9669;
    border: 1px solid #6C8480;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    width: 100%
}

.tile {
    background-color: #7B9669;
    padding: 20px;
    margin: 25px 0;
    margin-top: 50px;
    border: 1px solid #6C8480;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}
    
